<p>
  {{ cons.id }}
  <br />
  {{ cons.firstName }}
  <br />
  {{ cons.lastName }}
  <br />
  {{ cons.dateOfBirth }}
  <br />
  {{ cons.email }}
  <br />
  {{ cons.pan }}
  <br />
  {{ cons.businessOverview }}
  <br />
  {{ cons.agentUsername }}
  <br />
  {{ cons.business.id }}
  <br />
  {{ cons.business.businessType }}
  <br />
  {{ cons.business.businessAge }}
  <br />
  {{ cons.business.totalEmployees }}
  <br />
  {{ cons.business.annualTurnover }}
  <br />
  {{ cons.business.capitalInvested }}
  <br />
  {{ cons.business.businessValue }}
  <br />
</p>
